<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CRM</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>adminLoginJsp</servlet-name>
  	<jsp-file>/signIn.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>1</param-value>
  	</init-param>
  </servlet>
   <servlet>
  	<servlet-name>customerLoginJsp</servlet-name>
  	<jsp-file>/signIn.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>2</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>employeeLoginJsp</servlet-name>
  	<jsp-file>/signIn.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>3</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>salesLoginJsp</servlet-name>
  	<jsp-file>/signIn.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>4</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>customerRegistration</servlet-name>
  	<jsp-file>/customer/register.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>2</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>employeeRegistration</servlet-name>
  	<jsp-file>/salesandempregister/registerempandsales.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>3</param-value>
  	</init-param>
  </servlet>  
  <servlet>
  	<servlet-name>salesRegistration</servlet-name>
  	<jsp-file>/salesandempregister/registerempandsales.jsp</jsp-file>
  	<init-param>
  		<param-name>uType</param-name>
  		<param-value>4</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>updateProfileJsp</servlet-name>
  	<jsp-file>/customer/updateProfile.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>raiseDefectForm</servlet-name>
  	<jsp-file>/raiseDefect.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>searchDefectForm</servlet-name>
  	<jsp-file>/search.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>changePasswordForm</servlet-name>
  	<jsp-file>/changePassword.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>raiseDefectForm</servlet-name>
  	<url-pattern>/raiseDefect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLoginJsp</servlet-name>
  	<url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customerLoginJsp</servlet-name>
  	<url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>employeeLoginJsp</servlet-name>
  	<url-pattern>/employeeLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>salesLoginJsp</servlet-name>
  	<url-pattern>/salesLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateProfileJsp</servlet-name>
  	<url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customerRegistration</servlet-name>
  	<url-pattern>/cusregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>employeeRegistration</servlet-name>
  	<url-pattern>/empregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>salesRegistration</servlet-name>
  	<url-pattern>/salregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchDefectForm</servlet-name>
  	<url-pattern>/searchDefect.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changePasswordForm</servlet-name>
  	<url-pattern>/changePassword.do</url-pattern>
  </servlet-mapping>
  
  
  <session-config>
  	<session-timeout>15</session-timeout>
  </session-config>
</web-app>
